/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
  line-height: 1.5;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

header {
  padding: 10% 0;
}

section {
  min-height: 200px;
  padding: 6% 20px;
  margin: 20px 0;
  background-color: #FDFFFC;
}

section:last-child {
  margin-bottom: 50px;
}

section p {
  padding: 0 20px;
  font-size: .9em;
  line-height: 1.6;
}

.section-divider {
  width: 70%;
  margin: auto;
  border-bottom: 2px solid #EAEAEA;
}

section h2 {
  font-size: 1em;
  font-weight: normal;
  height: 55px;
  padding: 5px;
  width: 100px;
  border-left: 2px solid #D7263D;
  display: block;
}

img {
  width: 100%;
}

button,
a {
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: #444;
}

/* Mobile Navigation */
.nav {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #FDFFFC;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 1.25em;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 15px;
  cursor: pointer;
}

/* Desktop Navigation */
.desktop-nav-links {
  display: none;
}

.desktop-nav-links ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.desktop-nav-links li {
  padding: 0 15px;
  margin: 0 80px;
  cursor: pointer;
  transition: all .5s ease;
}

.desktop-nav-links li:hover {
  font-size: 1.3em;
  color: #D7263D;
  transition: all .5s ease;
}

/* Hamburger Nav Button */
.hamburger-menu {
  margin: 0 15px;
  width: 30px;
  height: 30px;
  position: relative;
  border: none;
  outline: none;
  background: none;
  transition: all .5s ease;
}

.hamburger-menu span {
  display: block;
  width: 100%;
  height: 4px;
  margin: 6px 0;
  border-radius: 9px;
  background-color: #444;
  position: absolute;
  left: 0;
}

.hamburger-menu span:nth-child(1) {
  top: 0;
  transition: transform .5s ease, top .5s ease .5s;
}

.hamburger-menu span:nth-child(2) {
  top: 10px;
  transition: visibility .5s ease;
}

.hamburger-menu span:nth-child(3) {
  top: 20px;
  transition: transform .5s ease, top .5s ease .5s;
}

.close span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
  transition: top .5s ease, transform .5s ease .5s;
}

.close span:nth-child(2) {
  visibility: hidden;
  transition: all .5s ease;
  transition: visibility .5s ease;
}

.close span:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
  transition: top .5s ease, transform .5s ease .5s;
}

/*Mobile Nav Links*/
.mobile-nav-links {
  position: fixed;
  height: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -250px;
  z-index: 1;
  background-color: #FDFFFC;
  transition: all 0.75s ease;
}

.expand {
  height: 100vh;
  margin-top: -100px;
  transition: all 0.75s ease-out;
}

.mobile-nav-links ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.mobile-nav-links li {
  padding: 20px;
  border-top: 1px solid #444;
  font-size: 1.25em;
  cursor: pointer;
  transition: all .5s ease;
}

.mobile-nav-links li:hover {
  font-size: 1.4em;
  color: #D7263D;
  transition: all .5s ease;
}

.mobile-nav-links li:last-child {
  border-bottom: 1px solid #444;
}

/* Main Section */

main {
  margin-top: 100px;
}


/* Hero Content */

header {
  height: calc(100vh - 100px);
  position: relative;
}

.header-content {
  max-width: 800px;
  margin: auto;
  padding: 0 15px;
  text-align: left;
  font-size: 1.17em;
  color: #FDFFFC;
}

.header-content span {
  color: #D7263D;
  font-weight: bold;
}

.header-content a {
  display: inline-block;
  background: transparent;
  color: #D7263D;
  border: 3px solid;
  padding: 0px 5px;
  font-weight: bold;
  text-decoration: none;
  transition: all .5s ease;
}

.header-content a:hover {
  padding: 2px 7px;
  font-size: 1.2em;
  transition: all .5s ease;
}

/* Hero Arrow */
header button {
  background: transparent;
  border: none;
  width: 30px;
  height: 50px;
  position: absolute;
  bottom: 15px;
  left: calc(50% - 15px);
  font-size: 2em;
  color: #FDFFFC;
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@-webkit-keyframes pulse {
  from {bottom: 15px;}
  to {bottom: 25px;}
}

@keyframes pulse {
  from {bottom: 15px;}
  to {bottom: 25px;}
}


/* Particle JS */
canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgb(18, 53, 91);
  background: linear-gradient(135deg, rgba(18, 53, 91, 1) 0%, rgba(2, 0, 36, 1) 100%);
  z-index: -1;
}

/* About Section */

.headshot {
  padding: 0 20px;
  max-width: 400px;
  display: block;
  margin: auto;
}

/* Project Section */
.project-title {
  display: inline-block;
  width: 50%;
  border-bottom: 2px solid #495867;
  font-weight: 400;
}

.project-links {
  text-align: center;
  padding: 10px 0;
}

.project-links a {
  margin: 0 5px;
  border: 2px solid #12355B;
  color: #FDFFFC;
  font-weight: bold;
  background-color: #12355B;
  padding: 2px 7px;
  transition: all .5s ease;
}

.project-links a:hover {
  padding: 4px 9px;
  transition: all .5s ease;
}

.project-links a:nth-child(1) {
  color: #12355B;
  background-color: #FDFFFC;
}

.project-divider {
  width: 30%;
  border-bottom: 2px solid gainsboro;
  margin: 20px auto;
}

.project-skills h4 {
  margin: 10px 0;
  padding-left: 20px;
  font-size: .8em;
}

.project-skills ul {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 10px 0;
  list-style: none;
  font-size: 1.5em;
}

.skills li {
  width: 45px;
  margin: 0 10px;
  padding-bottom: 10px;
  text-align: center;
}

li aside {
  font-size: .4em;
}



/*Contact Section */

.contact-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 2.25em;
}

.contact-links ul li {
  margin: 0 20px;
}

.contact-links ul li a {
  color: #495867;
  transition: all .5s ease;
}

.contact-links ul li a:hover {
  color: #D7263D;
  transition: all .5s ease;
}

#contact h3 {
  margin: 5px 0;
}

/* Footer */
footer {
  background-color: #FDFFFC;
  text-align: center;
  padding: 1% 0;
}

/* Media Queries */
@media screen and (min-width: 600px) {
  .hamburger-menu, .mobile-nav-links {
    display: none;
  }

  .desktop-nav-links {
    display: block;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 1.75em;
    margin: 0;
  }

}

@media screen and (min-width: 700px) {
  section {
    max-width: 1000px;
    margin: auto;
  }

  /* About Section */
  .headshot {
    max-width: 350px;
    float: left;
  }

  /* Project Section */
  .project-skills ul {
    justify-content: center;
  }
}

@media screen and (min-width: 850px) {
  /* About Section */
  #about {
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
  }

  .headshot {
    margin: 25px auto;
  }

  #projects, #contact {
    display: grid;
    grid-template-columns: 150px 1fr;
  }

  /* Project Section */
  .project-skills ul {
    font-size: 2em;
  }

  .project-skills ul li {
    width: 60px;
  }

  /* Contact Section */
  .contact-links ul {
    justify-content: start;
  }
}