* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

footer {
  padding: 1% 0;
  background-color: #aaa;
}

header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  padding: 10px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: #FDFFFC;
}

h1 {
  font-size: 1.25em;
}

/* Hamburger Nav Button */
.hamburger-menu {
  margin: 0 15px;
  width: 30px;
  height: 30px;
  position: relative;
  border: none;
  outline: none;
  background: none;
  transition: all .5s ease;
}

span {
  display: block;
  width: 100%;
  height: 4px;
  margin: 6px 0;
  border-radius: 9px;
  background-color: #444;
  position: absolute;
  left: 0;
}

span:nth-child(1) {
  top: 0;
  transition: transform .5s ease, top .5s ease .5s;
}

span:nth-child(2) {
  top: 10px;
  transition: visibility .5s ease;
}

span:nth-child(3) {
  top: 20px;
  transition: transform .5s ease, top .5s ease .5s;
}

.close span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
  transition: top .5s ease, transform .5s ease .5s;
}

.close span:nth-child(2) {
  visibility: hidden;
  transition: all .5s ease;
  transition: visibility .5s ease;
}

.close span:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
  transition: top .5s ease, transform .5s ease .5s;
}

/*Mobile Nav Links*/
.mobile-nav-links {
  position: absolute;
  height: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -250px;
  background-color: #FDFFFC;
  transition: all 0.75s ease;
}

.expand {
  height: 100vh;
  margin-top: -100px;
  transition: all 0.75s ease;
}

.mobile-nav-links ul {
  list-style: none;
  padding: 0;
}

.mobile-nav-links li {
  padding: 20px;
  border-top: 1px solid #444;
  font-size: 1.25em;
}

.mobile-nav-links li:last-child {
  border-bottom: 1px solid #444;
}

/* Main Section */

main {
  margin-top: 100px;
}
