* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

footer {
  padding: 1% 0;
  background-color: #aaa;
}

header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

button, a {
  cursor: pointer;
}

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  padding: 10px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: #FDFFFC;
}

h1 {
  font-size: 1.25em;
}

/* Hamburger Nav Button */
.hamburger-menu {
  margin: 0 15px;
  width: 30px;
  height: 30px;
  position: relative;
  border: none;
  outline: none;
  background: none;
  transition: all .5s ease;
}

.hamburger-menu span {
  display: block;
  width: 100%;
  height: 4px;
  margin: 6px 0;
  border-radius: 9px;
  background-color: #444;
  position: absolute;
  left: 0;
}

.hamburger-menu span:nth-child(1) {
  top: 0;
  transition: transform .5s ease, top .5s ease .5s;
}

.hamburger-menu span:nth-child(2) {
  top: 10px;
  transition: visibility .5s ease;
}

.hamburger-menu span:nth-child(3) {
  top: 20px;
  transition: transform .5s ease, top .5s ease .5s;
}

.close span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
  transition: top .5s ease, transform .5s ease .5s;
}

.close span:nth-child(2) {
  visibility: hidden;
  transition: all .5s ease;
  transition: visibility .5s ease;
}

.close span:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
  transition: top .5s ease, transform .5s ease .5s;
}

/*Mobile Nav Links*/
.mobile-nav-links {
  position: fixed;
  height: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -250px;
  z-index: 1;
  background-color: #FDFFFC;
  transition: all 0.75s ease;
}

.expand {
  height: 100vh;
  margin-top: -100px;
  transition: all 0.75s ease-out;
}

.mobile-nav-links ul {
  list-style: none;
  padding: 0;
}

.mobile-nav-links li {
  padding: 20px;
  border-top: 1px solid #444;
  font-size: 1.25em;
}

.mobile-nav-links li:last-child {
  border-bottom: 1px solid #444;
}

/* Main Section */

main {
  margin-top: 100px;
}


/* Hero Content */

header {
  height: calc(100vh - 100px);
  position: relative;
}

.header-content {
  max-width: 800px;
  margin: auto;
  padding: 0 15px;
  text-align: left;
  font-size: 1.17em;
  color: #FDFFFC;
}

.header-content h3 {
  font-weight: normal;
}

.header-content span {
  color:#D7263D;
  font-weight: bold;
}

.header-content a {
  display: inline-block;
  background: transparent;
  color: #D7263D;
  border: 3px solid;
  padding: 0px 5px;
  font-weight: bold;
  text-decoration: none;
}

/* See more button */
header button {
  background: transparent;
  border: none;
  width: 30px;
  height: 50px;
  position: absolute;
  bottom: 15px;
  left: 46%;
}

.more-arrow span {
  display: block;
  width: 100%;
  height: 6px;
  background-color: #FDFFFC;
  position: absolute;
}

.more-arrow span:nth-child(1) {
  transform: rotate(45deg);
  left: -9px;
}

.more-arrow span:nth-child(2) {
  transform: rotate(-45deg);
  right: -9px;
}

/* Particle JS */
canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgb(18,53,91);
  background: linear-gradient(135deg, rgba(18,53,91,1) 0%, rgba(2,0,36,1) 100%);
  z-index: -1;
}

/* About Section */